<h1>list of my sh*t</h1>
{{#if user}}
{{#each restaurantList}}
<div class="list-element">
  <div class="list-element-info">
    <h2 class="rest-list-name"> {{name}} </h2>
    <p class="rest-list-address">{{location.display_address}}</p>
    <p class="rest-list-type">{{#each categories}}{{title}} {{/each}}</p>
    <p class="rest-list-price-range">{{price}}</p>
    {{#if tried}}
    {{else}}
    <p><strong>new!</strong></p>
    <form action="/update_tried/{{_id}}" method="post">
      <button type="submit">I tried that sh*t</button></form>
    {{/if}}
  </div>
  <div>
    <form action="/delete-result/{{_id}}" method="post">
      <button class="add-btn" type="submit">-</button>
    </form>
  </div>
  {{!-- add different onclick="togglepopup()" popups: added that shit if logged in, or link to log in if not --}}
  <div class="popup">
    <p>deleted that sh*t</p>
  </div>
  {{!-- <p class="rest-list-open-now">open now</p> --}}
</div>
{{/each}}
{{else}}
<div class="no-user">
  <p><a href="/auth/signup">sign up</a> or <a href="/auth/login">log in</a> to see sh*t you wanna eat</p>
</div>
{{/if}}