<h1>list of my sh*t</h1>
<h2><a href="/my-map">see this sh*t on a map</a></h2>

{{#if user}}
{{#if restaurantList}}
<a href="/onlyNew">
  <button class="tried-btn onlyNew" type="submit">new sh*t</button></a>
<a href="/already">
  <button class="tried-btn already" type="submit">sh*t I already tried</button></a>
<a href="/list">
  <button class="tried-btn allFood" type="submit">all my sh*t</button></a>

{{#each restaurantList}}
<div class="list-element">
  <div class="list-element-info">
    <h2 class="rest-list-name"> <a href="restaurant/{{_id}}">{{name}}</a></h2>
    <p class="rest-list-address">{{display_address}}</p>
    <p class="rest-list-type">{{#each categories}}{{title}} {{/each}}</p>
    <p class="rest-list-price-range">{{price}}</p>
    {{#if tried}}
    {{else}}
    <p><strong>new!</strong></p>
    <form action="/update_tried/{{_id}}" method="post">
      <button type="submit">I tried that sh*t</button></form>
    {{/if}}
    <p class="popUp">+</p>
    <div class="miniMenu">
      <p class="hideUp">◆</p>
      <a href="/mymap">go to list on map</a>
      <form action="/delete-result/{{_id}}" method="post">
        <button type="submit">remove this list</button>
      </form>
    </div>
    <form action="/delete-result/{{_id}}" method="post">
      <button class="add-btn" type="submit">-</button>
    </form>
  </div>

  {{!-- add different onclick="togglepopup()" popups: added that shit if logged in, or link to log in if not --}}
  {{!-- <div class="popup">
    <p>deleted that sh*t</p>
  </div> --}}
  {{!-- <p class="rest-list-open-now">open now</p> --}}
</div>
{{/each}}

{{else}}
<h2>your list is empty!</h2>
<h3> <a href="/map">add some sh*t to it</a></h3>
{{/if}}
{{else}}
<div class="no-user">
  <h2>you're not logged in!</h2>
  <h3><a href="/auth/signup">sign up</a> or <a href="/auth/login">log in</a> to see sh*t you wanna eat</h3>
</div>
{{/if}}