<h1>list of my sh*t</h1>
<h2><a href="/my-map">see this sh*t on a map</a></h2>

{{#if user}}
{{#if restaurantList}}
<h3>filter your list</h3>
<a href="/onlyNew">
  <button class="tried-btn onlyNew" type="submit">new sh*t</button></a>
<a href="/already">
  <button class="tried-btn already" type="submit">sh*t I already tried</button></a>
<a href="/list">
  <button class="tried-btn allFood" type="submit">all my sh*t</button></a>

<div class="container">
  <div class="accordion">
    {{#each restaurantList}}
    <div class="accordion-item">
      <a>{{name}}</a>
      <div class="content">
        <p class="rest-list-address">{{display_address}}</p>
        <p class="rest-list-type">{{#each categories}}{{title}} {{/each}}</p>
        <p class="rest-list-price-range">{{price}}</p>
        {{#if tried}}
        {{else}}
        <p><strong>new!</strong></p>
        <form action="/update_tried/{{_id}}" method="post">
          <button type="submit">I tried that sh*t</button></form>
        {{/if}}
        <form action="/delete-result/{{_id}}" method="post">
          <button type="submit">delete this sh*t</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{else}}
<h2>your list is empty!</h2>
<h3> <a href="/map">add some sh*t to it</a></h3>
{{/if}}
{{else}}
<div class="no-user">
  <h2>you're not logged in!</h2>
  <h3><a href="/auth/signup">sign up</a> or <a href="/auth/login">log in</a> to see sh*t you wanna eat</h3>
</div>
{{/if}}